
venv/
.venv/
.env
.ipynb_checkpoints
__pycache__/
__pycache__
*__pycache__*
.ipynb_checkpoints
.DS_Store
*.DS_Store
uploaded_docs/
*tests*
*__init__*
KEYS.txt
app/models/export_data_ejemplo.json
.vscode/